.apex {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  position: relative;
  @media (max-width: $ipad) {
    padding: 160px 0 240px;
    height: auto;

    .home &, .page-main & {
      height: 100vh;
      max-height: 1200px;
      align-items: flex-start;
    }
  }
  @media (max-width: $tablet) {
    flex-wrap: wrap;
    padding: 120px 0 0;
  }

  &.loaded {
    #dollet {
      &::before {
        opacity: 1;
      }
    }
  }

  #dollet-desk {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transition: all .5s;
    @media (max-width: $ipad) {
      display: none;
    }

    svg {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;

      &.dollet-2 {
        opacity: 0;
      }
    }
  }

  #dollet-mob {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 100px);
    display: none;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
    @media (max-width: $ipad) {
      display: block;
    }

    &::before {
      content: none;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: calc(50% - 400px);
      width: 800px;
      height: 800px;
      background-image: url("./../img/circle_blur.webp");
      background-size: cover;
      opacity: 1;
      transition: opacity .5s;
      @media (max-width: $tablet) {
        width: 600px;
        height: 600px;
        top: calc(50% - 300px);
      }
    }

    svg {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    max-height: 900px;
    overflow: hidden;
    animation: slideInUp .6s linear;
    @media (max-width: $desktop-wide) {
      max-height: 790px;
    }
    @media (max-width: $desktop) {
      max-height: 600px;
    }
    @media (max-width: $ipad) {
      max-height: 500px;
    }
    @media (max-width: $tablet) {
      width: 100%;
      position: relative;
      order: 1;
      max-height: 100%;
      animation: none;
    }
    @media (max-width: $phone-wide) {
      margin-top: 0;
    }


    img {
      width: 100%;
      height: 100%;
    }
  }

  &__wrap {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    text-align: left;
    z-index: 2;
    margin-top: 80px;
    transition: opacity .7s;
    @media (max-width: $tablet) {
      align-items: center;
      text-align: center;
    }
    @media (min-width: 300px) and (max-height: 600px) {
      margin-top: 88px;
    }

    .home &, .page-main & {
      width: 600px;
      margin: 80px auto 0;
      transform: translateX(0);
      align-items: center;
      text-align: center;
      @media (max-width: $ipad) {
        width: 100%;
        margin: 0 auto;
        opacity: 1;
        position: absolute;
        left: 0;
        top: calc(50% - 240px);
        transform: translateX(0);
      }
      @media (max-width: $phone-wide) {
        top: calc(50% - 200px);
      }
    }

    .loaded & {
      transition: opacity .7s, transform .7s, top .7s;
      transform: translateX(-280px);
      opacity: 1;
      @media (max-width: $desktop-wide) {
        transform: translateX(-240px);
      }
      @media (max-width: $desktop) {
        transform: translateX(-220px);
      }
      @media (max-width: $ipad) {
        top: 140px;
        transform: translateX(0);
      }
    }

    h1 {
      span {
        color: $color-green;
      }
    }

    & > span {
      font-size: 24px;
      font-style: normal;
      @include f-w();
      @include l-h(140%);
      width: 450px;
      @media (max-width: $wide-screen) {
        font-size: 22px;
      }
      @media (max-width: $desktop-wide) {
        font-size: 20px;
      }
      @media (max-width: $ipad) {
        font-size: 24px;
      }
      @media (max-width: $tablet) {
        font-size: 20px;
      }
      @media (max-width: $phone-wide) {
        font-size: 16px;
        width: 100%;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    @media (max-width: $tablet) {
      gap: 18px;
    }
    @media (max-width: $phone-wide) {
      gap: 12px;
    }

    a {
      display: inline-block;
      background: rgba(29, 27, 37, 0.16);
      backdrop-filter: blur(6px);
      border-radius: 11px;
      overflow: hidden;
      height: 64px;
      @media (max-width: $wide-screen) {
        height: 60px;
      }
      @media (max-width: $desktop-wide) {
        height: 56px;
      }
      @media (max-width: $ipad) {
        height: 64px;
        border-radius: 10px;
      }
      @media (max-width: $tablet) {
        height: 54px;
        border-radius: 0;
      }
      @media (max-width: $phone-wide) {
        height: 48px;
      }

      img {
        height: 100%;
        width: auto;
      }

      &:hover {
        animation: pulseShadow 2s linear infinite;
        @media (max-width: $ipad) {
          animation: none;
        }
      }
    }
  }

}
