//all colors

// background, border
$bg-white: #ffffff;
$bg-black: #1D1B25;
$bg-green: #6dffd5;
$bg-green_2: #46EABB;
$bg-green-light: #B8FFEB;
$bg-pink: #FE74BF;
$bg-yellow: #FFE14E;
$bg-blue: #79F7FF;
$bg-gray: #E8E8E8;
$bg-gray_2: #AFAEB8;
$bg-bronze: #C98444;


// text
$color-white: #ffffff;
$color-black: #1D1B25;
$color-green: #6DFFD5;
$color-green_2: #10AC7C;
$color-violet: #A395FB;
$color-yellow: #FBEB95;
$color-yellow_2: #FFE14E;
$color-red: #FB9595;
$color-pink: #FE74BF;

