// font-family
$ff-RedHatDisplay: 'Red Hat Display';

// container
$container: 1200px;

// ---- ~ DESKTOP size
$wide-screen: 1600px;
$desktop-wide: 1359px;
$desktop: 1200px;

// ---- ~ tablet size
$ipad: 1023px;
$tablet: 767px;

// ---- ~ phone size
$phone-wide: 639px;
$phone-middle: 560px;
$phone: 400px;
