<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__block">
        <div class="footer__block-logo">
          <img src="img/dollet-logo_dark.svg" alt="">
        </div>

        <div class="footer__block-social">
          <a class="sticky-cursor" href="#"><img src="img/icon/icon__social-1.svg" alt=""></a>
          <a class="sticky-cursor" href="#"><img src="img/icon/icon__social-2.svg" alt=""></a>
          <a class="sticky-cursor" href="#"><img src="img/icon/icon__social-3.svg" alt=""></a>
          <a class="sticky-cursor" href="#"><img src="img/icon/icon__social-4.svg" alt=""></a>
          <a class="sticky-cursor" href="#"><img src="img/icon/icon__social-5.svg" alt=""></a>
          <a class="sticky-cursor" href="#"><img src="img/icon/icon__git.svg" alt=""></a>
        </div>

        <div class="footer__block-info">
          <div class="footer__block-info-links">
            <a href="./terms.html" class="sticky-cursor sticky-dot btn-modal"
               data-target="modal-terms">Terms of Service</a>
            <a href="./policy.html" class="sticky-cursor sticky-dot">Privacy Policy</a>
          </div>

          <span>© 2023 DolletApp. All Rights Reserved</span>
        </div>
      </div>

      <div class="footer__block">
        <div class="footer__block-caption">
          Support
        </div>
        <div class="footer__block-text">
          If you have any questions, please contact us via email or Chat
          Bot
        </div>
        <div class="footer__block-link mail">
          <a class="sticky-cursor sticky-dot" href="mailto:support@dolletwallet.com">
            support@dolletwallet.com
          </a>
        </div>
        <div class="footer__block-link chatBot">
          <a class="sticky-cursor sticky-dot" href="#">Chat Bot</a>
        </div>
      </div>

      <div class="footer__block">
        <div class="footer__block-caption">
          Dollet
        </div>
        <div class="footer__block-menu">
          <ul>
            <li><a class="sticky-cursor sticky-dot" href="../about.html">About Dollet</a></li>
            <li><a class="sticky-cursor sticky-dot" href="../defi.html">How to Use</a></li>
            <li><a class="sticky-cursor sticky-dot" href="../faq.html">FAQ</a></li>
            <li><a class="sticky-cursor sticky-dot" href="../blog.html">Blog</a></li>
            <li><a class="sticky-cursor sticky-dot" href="../download.html">Download</a></li>
          </ul>
        </div>
      </div>

      <div class="footer__block">
        <div class="footer__block-caption">
          DeFi
        </div>
        <div class="footer__block-menu">
          <ul>
            <li><a class="sticky-cursor sticky-dot" href="#">USDC.e – USDT Strategy</a></li>
            <li><a class="sticky-cursor sticky-dot" href="#">USDT – crvUSD Strategy</a></li>
            <li><a class="sticky-cursor sticky-dot" href="#">USDC – crvUSD Strategy</a></li>
            <li><a class="sticky-cursor sticky-dot" href="#">USDC – crvUSD Strategy</a></li>
            <li><a class="sticky-cursor sticky-dot" href="#">All Strategies</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <a href="https://artilab.pro/" class="sticky-cursor sticky-link" target="_blank">
        Developed with love by <img src="./img/artilab-logo.svg" alt="">
      </a>
    </div>
  </div>
</footer>

<!-- popups feedback -->
<div class="feedback-panel">
  <div class="feedback-panel_modal" id="modal-request">
    <div class="feedback-panel_modal__close modal-close sticky-cursor sticky-link"></div>

    <div class="title">Send a request</div>
    <div class="text">
      Ask the support manager a question
    </div>

    <form action="">
      <div class="feedback-panel_fields">
        <input type="text" class="text-field" placeholder="*Your name">
        <input type="text" class="text-field" placeholder="*Email">
        <input type="text" class="text-field" placeholder="Telegram">
        <textarea class="text-field" placeholder="*Your question"></textarea>

        <div class="text">Add screenshots or video</div>

        <div class="inputs-file">
          <div class="input-file">
            <label class="sticky-cursor">
              <input type="file" class="image-input">
              <img class="preview-image" src="" alt="preview"/>
            </label>
          </div>

          <div class="input-file">
            <label class="sticky-cursor">
              <input type="file" class="image-input">
              <img class="preview-image" src="" alt="preview"/>
            </label>
          </div>

          <div class="input-file">
            <label class="sticky-cursor">
              <input type="file" class="image-input">
              <img class="preview-image" src="" alt="preview"/>
            </label>
          </div>
        </div>
      </div>

      <button type="button" class="button button-green sticky-cursor sticky-dot">
        <span>Send a report</span>
      </button>
    </form>
  </div>

  <div class="feedback-panel_modal" id="modal-report">
    <div class="feedback-panel_modal__close modal-close sticky-cursor sticky-link"></div>

    <div class="title">Report us about a bug</div>
    <div class="text">
      If you encounter technical issues, please fill out the form, and our technical team will
      promptly respond to your request.
    </div>

    <form action="">
      <div class="feedback-panel_fields">
        <input type="text" class="text-field" placeholder="*Your name">
        <input type="text" class="text-field" placeholder="*Email">
        <input type="text" class="text-field" placeholder="Telegram">
        <select class="converted-select" data-index="select-50">
          <option>Network</option>
          <option data-img="./img/icon/network__icon_1.svg"
                  value="Arbitrum">
            Arbitrum
          </option>
          <option data-img="./img/icon/network__icon_2.svg"
                  value="Binance Smart Chain">
            Binance Smart Chain Binance Smart Chain Binance Smart Chain
          </option>
          <option data-img="./img/icon/network__icon_3.svg"
                  value="Bitcoin">
            Bitcoin
          </option>
          <option data-img="./img/icon/network__icon_4.svg"
                  value="Optimism">
            Optimism
          </option>
          <option data-img="./img/icon/network__icon_5.svg"
                  value="Polygon Matic">
            Polygon Matic
          </option>
          <option data-img="./img/icon/network__icon_6.svg"
                  value="Solana">
            Solana
          </option>
        </select>
        <input type="text" class="text-field" placeholder="*Wallet address">
        <select class="converted-select select-search" data-index="select-51">
          <option>*Country</option>
          <option value="APY">Country 1</option>
          <option value="Hot">Country 2</option>
          <option value="Liquidity">Country 3</option>
          <option value="APY">APY</option>
          <option value="Hot">Hot</option>
          <option value="Liquidity">Liquidity</option>
        </select>
        <textarea class="text-field" placeholder="*Describe your issue"></textarea>
        <select class="converted-select select-search" data-index="select-52">
          <option>*Issue area</option>
          <option value="APY">Country 1</option>
          <option value="Hot">Country 2</option>
          <option value="Liquidity">Country 3</option>
        </select>
        <select class="converted-select" data-index="select-53">
          <option>*Operation system</option>
          <option value="APY">Country 1</option>
          <option value="Hot">Country 2</option>
          <option value="Liquidity">Country 3</option>
        </select>
        <select class="converted-select" data-index="select-54">
          <option>*Device brand</option>
          <option value="APY">Country 1</option>
          <option value="Hot">Country 2</option>
          <option value="Liquidity">Country 3</option>
        </select>
        <input type="text" class="text-field" placeholder="*Model">

        <div class="text">Add screenshots or video</div>

        <div class="inputs-file">
          <div class="input-file">
            <label class="sticky-cursor">
              <input type="file" class="image-input">
              <img class="preview-image" src="" alt="preview"/>
            </label>
          </div>
          <div class="input-file">
            <label class="sticky-cursor">
              <input type="file" class="image-input">
              <img class="preview-image" src="" alt="preview"/>
            </label>
          </div>
          <div class="input-file">
            <label class="sticky-cursor">
              <input type="file" class="image-input">
              <img class="preview-image" src="" alt="preview"/>
            </label>
          </div>
        </div>
      </div>

      <button type="button" class="button button-green sticky-cursor sticky-dot">
        <span>Send a report</span>
      </button>
    </form>
  </div>

  <div class="feedback-panel_modal" id="modal-feedback-success">
    <div class="feedback-panel_modal__close modal-close sticky-cursor sticky-link"></div>

    <div class="title">Thank you for reporting a bug!</div>
    <div class="text">
      We have received your message, and our support manager will be in touch with you shortly.
    </div>
  </div>

  <div class="feedback-panel_btns">
    <div class="feedback-panel_btn sticky-cursor btn--modal" data-target="modal-request">Send a
      request
    </div>

    <div class="feedback-panel_btn btn-circle sticky-cursor btn--modal" data-target="modal-request">
      <img src="./img/icon/icon__mail-2.svg" alt="Send a request"></div>

    <div class="feedback-panel_btn sticky-cursor btn--modal" data-target="modal-report">Report a
      bug
    </div>

    <div class="feedback-panel_btn btn-circle sticky-cursor btn--modal" data-target="modal-report">
      <img src="./img/icon/icon__bug.svg" alt="Report a bug"></div>
  </div>

  <div class="feedback-panel_btn btn-circle feedback-panel_btn--main sticky-cursor">
    <img src="./img/icon/icon__chat.svg" alt="chat" class="icon">
    <img src="./img/icon/icon__close.svg" alt="close-chat" class="close">
  </div>
</div>

