<header class="header preload cursor-header">
	<div class="container">
		<div class="header__wrap">
			<a href="/" class="header__logo sticky-cursor sticky-dot">
				<img src="img/dollet-logo_dark.svg" alt="dollet logo">
			</a>

			<nav class="header__menu">
				<ul>
					<li><a class="sticky-cursor sticky-dot" href="../about.html">About
						Dollet </a></li>
					<li><a class="sticky-cursor sticky-dot"
					       href="../defi.html">DeFi</a></li>
					<li><a class="sticky-cursor sticky-dot"
					       href="../blog.html">Blog</a></li>
					<li><a class="sticky-cursor sticky-dot"
					       href="../faq.html">FAQ</a></li>
				</ul>

				<div class="social-buttons">
					<a href="#"><img src="img/icon/icon__social-1.svg" alt=""></a>
					<a href="#"><img src="img/icon/icon__social-2.svg" alt=""></a>
					<a href="#"><img src="img/icon/icon__social-3.svg" alt=""></a>
					<a href="#"><img src="img/icon/icon__social-4.svg" alt=""></a>
					<a href="#"><img src="img/icon/icon__social-5.svg" alt=""></a>
				</div>
			</nav>

			<button type="button" data-target="modal-download"
			        class="header__button button button-green sticky-cursor sticky-dot btn-modal">
				<span>Get App</span>
			</button>

			<div class="burger-menu"></div>
		</div>
	</div>
</header>

<div class="cursor cursor--large"></div>
<div class="cursor cursor--small"></div>
