<div class="modal" id="modal-download">
  <div class="modal__wrap">
    <div class="modal__inner">
      <div class="modal-close sticky-cursor sticky-link"></div>

      <div class="modal-header">
        <div class="modal-header_title">Download Dollet App</div>
        <div class="modal-header_subtitle">
          Let Dollet be your trusted companion on DeFi journey, ensuring
          <br>
          your assets are always safe and secure
        </div>
      </div>

      <div class="modal-content">
        <div class="download-buttons">
          <a href="#" class="sticky-cursor">
            <img src="img/app_store.svg" alt="app store icon">
          </a>
          <a href="#" class="sticky-cursor">
            <img src="img/play_market.svg"
                 alt="play market icon">
          </a>
        </div>
      </div>

      <div class="modal-image">
        <img src="./img/pic__modal.png"
             alt="modal application image">
      </div>
    </div>

  </div>
</div>

<div class="modal" id="modal-terms">
  <div class="modal__wrap">
    <div class="modal__inner">
      <div class="modal-close sticky-cursor sticky-link"></div>

      <div class="modal-header">
        <div class="modal-header_title">Terms of Service</div>
        <div class="modal-header_subtitle">
          Last updated: September 11, 2023
        </div>
      </div>

      <div class="modal-content">
        <div class="modal-content_wrap">
          <p>
            Thank you for choosing our decentralized finance wallet Dollet – multi-chain crypto
            wallet
            with bridge functionality.
            Dolletwallet.com (“Dollet”, “we,” “our” or “us”) provides its software services through
            its
            website located at dolletwallet.com and related mobile applications and products
            (collectively the “Services” or “Dollet Wallet”). Delfin Developments Ltd. is a
            developer
            of
            the software and licensor of Dolletwallet.com. It does not provide any services
            hereunder.
            Before using our Services, please read the Terms of Service (the “Terms”) carefully,
            along
            with any other policies or notices on our website or mobile applications.
            Acceptance of terms: By accessing or using any or all of the Services, you expressly
            acknowledge that (i) you have read and understood these Terms; (ii) you agree to be
            bound
            by
            these Terms; and (iii) you are legally competent to enter into these Terms. If you do
            not
            agree to be bound by these Terms or any updates or modifications to these Terms, you may
            not
            access or use our Services. WE DO NOT PROVIDE INVESTMENT OR
          </p>

          <p>
            Thank you for choosing our decentralized finance wallet Dollet – multi-chain crypto
            wallet
            with bridge functionality.
            Dolletwallet.com (“Dollet”, “we,” “our” or “us”) provides its software services through
            its
            website located at dolletwallet.com and related mobile applications and products
            (collectively the “Services” or “Dollet Wallet”). Delfin Developments Ltd. is a
            developer
            of
            the software and licensor of Dolletwallet.com. It does not provide any services
            hereunder.
            Before using our Services, please read the Terms of Service (the “Terms”) carefully,
            along
            with any other policies or notices on our website or mobile applications.
            Acceptance of terms: By accessing or using any or all of the Services, you expressly
            acknowledge that (i) you have read and understood these Terms; (ii) you agree to be
            bound
            by
            these Terms; and (iii) you are legally competent to enter into these Terms. If you do
            not
            agree to be bound by these Terms or any updates or modifications to these Terms, you may
            not
            access or use our Services. WE DO NOT PROVIDE INVESTMENT OR
          </p>

          <ol class="d-ol">
            <li>Thank you for choosing our decentralized finance wallet Dollet – multi-chain crypto
              wallet
              with bridge functionality.
              Dolletwallet.com (“Dollet”, “we,” “our” or “us”) provides its software services
              through
              its
              website located at dolletwallet.com and related mobile applications and products
              (collectively the “Services” or “Dollet Wallet”). Delfin Developments Ltd. is a
              developer of
              the software and licensor of Dolletwallet.com. It does not provide any services
              hereunder.
              Before using our Services, please read the Terms of Service (the “Terms”) carefully,
              along
              with any other policies or notices on our website or mobile applications.
              Acceptance of terms: By accessing or using any or all of the Services, you expressly
              acknowledge that (i) you have read and understood these Terms; (ii) you agree to be
              bound by
              these Terms; and (iii) you are legally competent to enter into these Terms. If you do
              not
              agree to be bound by these Terms or any updates or modifications to these Terms, you
              may
              not
              access or use our Services. WE DO NOT PROVIDE INVESTMENT OR

              <ul class="d-ul">
                <li>Thank you for choosing our decentralized finance wallet Dollet – multi-chain
                  crypto
                  wallet
                  with bridge functionality.
                  Dolletwallet.com (“Dollet”, “we,” “our” or “us”) provides its software services
                  through
                  its
                  website located at dolletwallet.com and related mobile applications and products
                  (collectively the “Services” or “Dollet Wallet”). Delfin Developments Ltd. is a
                  developer of
                  the software and licensor of Dolletwallet.com. It does not provide any services
                  hereunder.
                  Before using our Services, please read the Terms of Service (the “Terms”)
                  carefully,
                  along
                  with any other policies or notices on our website or mobile applications.
                  Acceptance of terms: By accessing or using any or all of the Services, you
                  expressly
                  acknowledge that (i) you have read and understood these Terms; (ii) you agree to
                  be
                  bound by
                  these Terms; and (iii) you are legally competent to enter into these Terms. If you
                  do
                  not
                  agree to be bound by these Terms or any updates or modifications to these Terms,
                  you
                  may
                  not
                  access or use our Services. WE DO NOT PROVIDE INVESTMENT OR
                </li>
                <li>
                  Thank you for choosing our decentralized finance wallet Dollet – multi-chain
                  crypto
                  wallet
                  with bridge functionality.
                  Dolletwallet.com (“Dollet”, “we,” “our” or “us”) provides its software services
                  through
                  its
                  website located at dolletwallet.com and related mobile applications and products
                  (collectively the “Services” or “Dollet Wallet”). Delfin Developments Ltd. is a
                  developer of
                  the software and licensor of Dolletwallet.com. It does not provide any services
                  hereunder.
                  Before using our Services, please read the Terms of Service (the “Terms”)
                  carefully,
                  along
                  with any other policies or notices on our website or mobile applications.
                  Acceptance of terms: By accessing or using any or all of the Services, you
                  expressly
                  acknowledge that (i) you have read and understood these Terms; (ii) you agree to
                  be
                  bound by
                  these Terms; and (iii) you are legally competent to enter into these Terms. If you
                  do
                  not
                  agree to be bound by these Terms or any updates or modifications to these Terms,
                  you
                  may
                  not
                  access or use our Services. WE DO NOT PROVIDE INVESTMENT OR
                </li>
                <li>Thank you for choosing our decentralized finance wallet Dollet – multi-chain
                  crypto
                  wallet
                  with bridge functionality.
                  Dolletwallet.com (“Dollet”, “we,” “our” or “us”) provides its software services
                  through
                  its
                  website located at dolletwallet.com and related mobile applications and products
                  (collectively the “Services” or “Dollet Wallet”). Delfin Developments Ltd. is a
                  developer of
                  the software and licensor of Dolletwallet.com. It does not provide any services
                  hereunder.
                  Before using our Services, please read the Terms of Service (the “Terms”)
                  carefully,
                  along
                  with any other policies or notices on our website or mobile applications.
                  Acceptance of terms: By accessing or using any or all of the Services, you
                  expressly
                  acknowledge that (i) you have read and understood these Terms; (ii) you agree to
                  be
                  bound by
                  these Terms; and (iii) you are legally competent to enter into these Terms. If you
                  do
                  not
                  agree to be bound by these Terms or any updates or modifications to these Terms,
                  you
                  may
                  not
                  access or use our Services. WE DO NOT PROVIDE INVESTMENT OR
                </li>
              </ul>
            </li>
            <li>
              Thank you for choosing our decentralized finance wallet Dollet – multi-chain crypto
              wallet
              with bridge functionality.
              Dolletwallet.com (“Dollet”, “we,” “our” or “us”) provides its software services
              through
              its
              website located at dolletwallet.com and related mobile applications and products
              (collectively the “Services” or “Dollet Wallet”). Delfin Developments Ltd. is a
              developer of
              the software and licensor of Dolletwallet.com. It does not provide any services
              hereunder.
              Before using our Services, please read the Terms of Service (the “Terms”) carefully,
              along
              with any other policies or notices on our website or mobile applications.
              Acceptance of terms: By accessing or using any or all of the Services, you expressly
              acknowledge that (i) you have read and understood these Terms; (ii) you agree to be
              bound by
              these Terms; and (iii) you are legally competent to enter into these Terms. If you do
              not
              agree to be bound by these Terms or any updates or modifications to these Terms, you
              may
              not
              access or use our Services. WE DO NOT PROVIDE INVESTMENT OR
            </li>
            <li>Thank you for choosing our decentralized finance wallet Dollet – multi-chain crypto
              wallet
              with bridge functionality.
              Dolletwallet.com (“Dollet”, “we,” “our” or “us”) provides its software services
              through
              its
              website located at dolletwallet.com and related mobile applications and products
              (collectively the “Services” or “Dollet Wallet”). Delfin Developments Ltd. is a
              developer of
              the software and licensor of Dolletwallet.com. It does not provide any services
              hereunder.
              Before using our Services, please read the Terms of Service (the “Terms”) carefully,
              along
              with any other policies or notices on our website or mobile applications.
              Acceptance of terms: By accessing or using any or all of the Services, you expressly
              acknowledge that (i) you have read and understood these Terms; (ii) you agree to be
              bound by
              these Terms; and (iii) you are legally competent to enter into these Terms. If you do
              not
              agree to be bound by these Terms or any updates or modifications to these Terms, you
              may
              not
              access or use our Services. WE DO NOT PROVIDE INVESTMENT OR
            </li>
          </ol>

          <ul class="d-ul">
            <li>Thank you for choosing our decentralized finance wallet Dollet – multi-chain crypto
              wallet
              with bridge functionality.
              Dolletwallet.com (“Dollet”, “we,” “our” or “us”) provides its software services
              through
              its
              website located at dolletwallet.com and related mobile applications and products
              (collectively the “Services” or “Dollet Wallet”). Delfin Developments Ltd. is a
              developer of
              the software and licensor of Dolletwallet.com. It does not provide any services
              hereunder.
              Before using our Services, please read the Terms of Service (the “Terms”) carefully,
              along
              with any other policies or notices on our website or mobile applications.
              Acceptance of terms: By accessing or using any or all of the Services, you expressly
              acknowledge that (i) you have read and understood these Terms; (ii) you agree to be
              bound by
              these Terms; and (iii) you are legally competent to enter into these Terms. If you do
              not
              agree to be bound by these Terms or any updates or modifications to these Terms, you
              may
              not
              access or use our Services. WE DO NOT PROVIDE INVESTMENT OR

              <ul class="d-ul">
                <li>Thank you for choosing our decentralized finance wallet Dollet – multi-chain
                  crypto
                  wallet
                  with bridge functionality.
                  Dolletwallet.com (“Dollet”, “we,” “our” or “us”) provides its software services
                  through
                  its
                  website located at dolletwallet.com and related mobile applications and products
                  (collectively the “Services” or “Dollet Wallet”). Delfin Developments Ltd. is a
                  developer of
                  the software and licensor of Dolletwallet.com. It does not provide any services
                  hereunder.
                  Before using our Services, please read the Terms of Service (the “Terms”)
                  carefully,
                  along
                  with any other policies or notices on our website or mobile applications.
                  Acceptance of terms: By accessing or using any or all of the Services, you
                  expressly
                  acknowledge that (i) you have read and understood these Terms; (ii) you agree to
                  be
                  bound by
                  these Terms; and (iii) you are legally competent to enter into these Terms. If you
                  do
                  not
                  agree to be bound by these Terms or any updates or modifications to these Terms,
                  you
                  may
                  not
                  access or use our Services. WE DO NOT PROVIDE INVESTMENT OR
                </li>
                <li>
                  Thank you for choosing our decentralized finance wallet Dollet – multi-chain
                  crypto
                  wallet
                  with bridge functionality.
                  Dolletwallet.com (“Dollet”, “we,” “our” or “us”) provides its software services
                  through
                  its
                  website located at dolletwallet.com and related mobile applications and products
                  (collectively the “Services” or “Dollet Wallet”). Delfin Developments Ltd. is a
                  developer of
                  the software and licensor of Dolletwallet.com. It does not provide any services
                  hereunder.
                  Before using our Services, please read the Terms of Service (the “Terms”)
                  carefully,
                  along
                  with any other policies or notices on our website or mobile applications.
                  Acceptance of terms: By accessing or using any or all of the Services, you
                  expressly
                  acknowledge that (i) you have read and understood these Terms; (ii) you agree to
                  be
                  bound by
                  these Terms; and (iii) you are legally competent to enter into these Terms. If you
                  do
                  not
                  agree to be bound by these Terms or any updates or modifications to these Terms,
                  you
                  may
                  not
                  access or use our Services. WE DO NOT PROVIDE INVESTMENT OR
                </li>
                <li>Thank you for choosing our decentralized finance wallet Dollet – multi-chain
                  crypto
                  wallet
                  with bridge functionality.
                  Dolletwallet.com (“Dollet”, “we,” “our” or “us”) provides its software services
                  through
                  its
                  website located at dolletwallet.com and related mobile applications and products
                  (collectively the “Services” or “Dollet Wallet”). Delfin Developments Ltd. is a
                  developer of
                  the software and licensor of Dolletwallet.com. It does not provide any services
                  hereunder.
                  Before using our Services, please read the Terms of Service (the “Terms”)
                  carefully,
                  along
                  with any other policies or notices on our website or mobile applications.
                  Acceptance of terms: By accessing or using any or all of the Services, you
                  expressly
                  acknowledge that (i) you have read and understood these Terms; (ii) you agree to
                  be
                  bound by
                  these Terms; and (iii) you are legally competent to enter into these Terms. If you
                  do
                  not
                  agree to be bound by these Terms or any updates or modifications to these Terms,
                  you
                  may
                  not
                  access or use our Services. WE DO NOT PROVIDE INVESTMENT OR
                </li>
              </ul>
            </li>
            <li>
              Thank you for choosing our decentralized finance wallet Dollet – multi-chain crypto
              wallet
              with bridge functionality.
              Dolletwallet.com (“Dollet”, “we,” “our” or “us”) provides its software services
              through
              its
              website located at dolletwallet.com and related mobile applications and products
              (collectively the “Services” or “Dollet Wallet”). Delfin Developments Ltd. is a
              developer of
              the software and licensor of Dolletwallet.com. It does not provide any services
              hereunder.
              Before using our Services, please read the Terms of Service (the “Terms”) carefully,
              along
              with any other policies or notices on our website or mobile applications.
              Acceptance of terms: By accessing or using any or all of the Services, you expressly
              acknowledge that (i) you have read and understood these Terms; (ii) you agree to be
              bound by
              these Terms; and (iii) you are legally competent to enter into these Terms. If you do
              not
              agree to be bound by these Terms or any updates or modifications to these Terms, you
              may
              not
              access or use our Services. WE DO NOT PROVIDE INVESTMENT OR
            </li>
            <li>Thank you for choosing our decentralized finance wallet Dollet – multi-chain crypto
              wallet
              with bridge functionality.
              Dolletwallet.com (“Dollet”, “we,” “our” or “us”) provides its software services
              through
              its
              website located at dolletwallet.com and related mobile applications and products
              (collectively the “Services” or “Dollet Wallet”). Delfin Developments Ltd. is a
              developer of
              the software and licensor of Dolletwallet.com. It does not provide any services
              hereunder.
              Before using our Services, please read the Terms of Service (the “Terms”) carefully,
              along
              with any other policies or notices on our website or mobile applications.
              Acceptance of terms: By accessing or using any or all of the Services, you expressly
              acknowledge that (i) you have read and understood these Terms; (ii) you agree to be
              bound by
              these Terms; and (iii) you are legally competent to enter into these Terms. If you do
              not
              agree to be bound by these Terms or any updates or modifications to these Terms, you
              may
              not
              access or use our Services. WE DO NOT PROVIDE INVESTMENT OR
            </li>
          </ul>
        </div>
      </div>

      <div class="modal-confirm">
        <label class="d-checkbox">
          <input type="checkbox" class="d-checkbox_input" name="confirm-checkbox">
          <span class="d-checkbox_text">
            I accept the <a href="#" class="sticky-cursor sticky-dot" target="_blank">Term of Service</a> and confirm that i have read the
            <a href="#" class="sticky-cursor sticky-dot" target="_blank">Privacy Policy</a>
          </span>
          <span class="d-checkbox_check sticky-cursor"></span>
        </label>
        <button type="button" disabled class="confirm-terms button button-green sticky-cursor">
          <span>Confirm</span>
        </button>
      </div>

    </div>

  </div>
</div>

<div class="popup-cookies" id="popup-cookies">

  <div class="popup-content">
    <div class="popup-content_info">
      <p>
        This website uses cookies to offer you a better browsing experience.
      </p>
      <p>
        Find out more on how we use cookies.
      </p>
      <a href="#">Cookie Policy</a>
    </div>
    <div class="popup-content_buttons">
      <button type="button" class="button button-green sticky-cursor">
        <span>I accept</span>
      </button>
      <button type="button" class="button button-simple sticky-cursor">
        <span>Deny</span>
      </button>
    </div>
  </div>

</div>

