<section class="about animated">
	<div class="container">
		<div class="about__wrap">
			<div class="about__content">
				<h2>Who is Dollet?</h2>
				<div class="about__content-text">
					<p>Using my functional, you have complete control over your
						crypto assets, as no access is granted without your
						permission. I’m supporting popular cryptocurrencies and
						blockchains which you like, such as Bitcoin, Ethereum,
						Binance Smart Chain, Optimism, Arbitrum, Solana, etc.
					</p>
					<p>
						With my multi-chain functionality I simplifies asset
						management across different blockchain networks,
						eliminating the need for multiple wallets.</p>
				</div>

				<div class="about__content-button">
					<a href="about.html"
					   class="button button-simple with-arrow sticky-cursor">
						<span>Read more</span>
						<svg class="icon">
							<use xlink:href="./img/_set.svg#icon-arrow"></use>
						</svg>
					</a>
				</div>
			</div>

			<div class="about__video">
				<div id="about-dollet"
				data-path="models/07_Active_thinking_crop.json"
				></div>
<!--				<video id="about-dollet" loop="" muted="" autoplay="" playsinline=""-->
<!--				       preload="metadata">-->
<!--					<source src="./video/about-dollet.mp4"-->
<!--					        type="video/mp4">-->
<!--				</video>-->
			</div>
		</div>
	</div>
</section>
