<section class="apex preload">

  <div class="loading-dollet">
    <span>Loading...</span>
    <div class="spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div id="dollet-desk"
       data-path="models/SITE_1920x1080_V2_2.json"
       data-path-second="models/SITE_1920x1080_part_3.json">
  </div>
  <div id="dollet-mob"
       data-path="models/SITE_425x756_V4-mob.json">
  </div>

  <div class="container">
    <div class="apex__wrap">
      <h1>Hello, I’m Dollet!</h1>

      <span>Your multi-chain crypto wallet with a bridge and
						DeFi functionality</span>

      <div class="apex__buttons">
        <a href="#" class="sticky-cursor">
          <img src="img/app_store.svg" alt="">
        </a>
        <a href="#" class="sticky-cursor">
          <img src="img/play_market.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
