<div class="article-swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="blog-card">
        <a href="./article.html" class="blog-card_image sticky-cursor sticky-dot">
          <img src="./img/f9b828dbeb6102e6509a2677a8fbb9fa.png" alt="">
        </a>
        <div class="blog-card_content">
          <div class="card-tag tags">
            <ul>
              <li class="color-white"><a class="sticky-cursor" href="./blog-category.html">DeFi</a></li>
            </ul>
          </div>
          <div class="card-date">
            September 15, 2023
          </div>
          <a href="./article.html" class="card-text sticky-cursor sticky-dot">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          </a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blog-card">
        <a href="./article.html" class="blog-card_image sticky-cursor sticky-dot">
          <img src="./img/f9b828dbeb6102e6509a2677a8fbb9fa.png" alt="">
        </a>
        <div class="blog-card_content">
          <div class="card-tag tags">
            <ul>
              <li class="color-white"><a class="sticky-cursor" href="./blog-category.html">DeFi</a></li>
            </ul>
          </div>
          <div class="card-date">
            September 15, 2023
          </div>
          <a href="./article.html" class="card-text sticky-cursor sticky-dot">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          </a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blog-card">
        <a href="./article.html" class="blog-card_image sticky-cursor sticky-dot">
          <img src="./img/f9b828dbeb6102e6509a2677a8fbb9fa.png" alt="">
        </a>
        <div class="blog-card_content">
          <div class="card-tag tags">
            <ul>
              <li class="color-white"><a class="sticky-cursor" href="./blog-category.html">DeFi</a></li>
            </ul>
          </div>
          <div class="card-date">
            September 15, 2023
          </div>
          <a href="./article.html" class="card-text sticky-cursor sticky-dot">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          </a>
        </div>
      </div>
    </div>
  </div>
</div>