<section class="audit">
	<div class="container">
		<div class="audit__wrap">
			<div class="audit__content">
				<h2>We audited by the most <br> trusted auditors</h2>

				<div class="audit__content_items">
					<a href="#" target="_blank" class="audit-item sticky-cursor">
						<img src="img/icon/certik.svg" alt="audit item 1">
					</a>
					<a href="#" target="_blank" class="audit-item sticky-cursor">
						<img src="img/icon/deussec.svg" alt="audit item 2">
					</a>
				</div>
			</div>

			<div class="audit__shield">
				<img src="img/shield.svg" alt="">
			</div>
		</div>
	</div>
</section>
