<section class="banner animated">
	<div class="container">
		<div class="banner__wrap">
			<div class="banner__content">
				<div class="banner__content-title">
					Download Dollet App
				</div>
				<div class="banner__content-text">
					<p>Let Dollet be your trusted companion on DeFi journey,
						ensuring your assets are always safe and secure</p>
				</div>
				<div class="banner__content-buttons">
					<a href="#" class="sticky-cursor">
						<img src="img/app_store.svg" alt="app store icon">
					</a>
					<a href="#" class="sticky-cursor">
						<img src="img/play_market.svg"
						     alt="play market icon">
					</a>
				</div>
			</div>

			<div class="banner__app">
				<picture>
					<source media="(min-width: 1024px)"
					        srcset="img/pic__application.png">
					<source media="(min-width: 768px)"
					        srcset="img/pic__application_tablet.png">
					<img src="img/pic__application.png" alt="pic application">
				</picture>
			</div>
		</div>
	</div>
</section>
