<section class="campaign crypto-bloom">
  <div class="container">
    <div class="campaign__wrap">
      <div class="campaign__image">
        <img src="../../img/crypto-dollet.png" alt="campaign image">
      </div>
      <div class="campaign__info">
        <h2 class="campaign__info_title">
          About Dollet
        </h2>
        <div class="campaign__info_text">
          <p>
            Dollet is a non-custodial mobile wallet with integrated DeFi strategies, where you can
            <strong>earn up to 30%</strong> on Ethereum in 1 click.
          </p>
          <p>
            Dollet supports more than 10 networks, as well as offers bridge and swap functionality.
          </p>
          <p>
            Dollet is your Trusted Guide to Crypto. Seed the Future.
          </p>
        </div>
        <div class="campaign__info_button">
          <a href="#" class="button button-simple with-arrow sticky-cursor">
            <span>Read more</span>
            <svg class="icon">
              <use xlink:href="./img/_set.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>