<section class="campaign">
  <div class="container">
    <div class="campaign__wrap">
      <div class="campaign__image">
        <img src="../../img/crypto-bloom.png" alt="campaign image">
      </div>
      <div class="campaign__info">
        <h2 class="campaign__info_title">
          Crypto Bloom Campaign
        </h2>
        <div class="campaign__info_text">
          Participate in the second campaign, Crypto Bloom! Complete the tasks, collect the Sprouts,
          and get a chance to win up to 400 USDT per user, as well as NFTs for great drops in the
          future.
        </div>
        <div class="campaign__info_button">
          <a href="#" class="button button-simple with-arrow sticky-cursor">
            <span>Start Looting</span>
            <svg class="icon">
              <use xlink:href="./img/_set.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>