<section class="faq-block">
	<div class="container">
		<div class="faq-block__wrap">
			<h2>FAQ</h2>

			<div class="faq-block__content">
				<div class="spoiler" data-status="open">
					<div class="spoiler__head sticky-cursor sticky-dot">
						Is there key encryption?
					</div>
					<div class="spoiler__content">
						The highest level of security at Weld Money is achieved by
						implementing several state-of-the-art measures. This includes
						2-factor authentication, the use of the HTTP TLS 1.2+ protocol
						for maximum protection of data transmission over the Internet,
						and, of course, constant Penetration tests from our partners.
						In addition, we use state-of-the-art key encryption
						algorithms, cryptography, Disaster Recovery Flow, and
						regularly undergo security audits by industry leaders Hacken,
						Certik, and Blaze.
						In addition, we use state-of-the-art key encryption
						algorithms, cryptography, Disaster Recovery Flow, and
						regularly undergo security audits by industry leaders Hacken,
						Certik, and Blaze.
					</div>
				</div>
				<div class="spoiler" data-status="closed">
					<div class="spoiler__head sticky-cursor sticky-dot">
						Why is the official exchange rate of the National Bank of
						Ukraine used when paying with a weld card in Ukraine when
						converting to UAH, and not the market rate?
					</div>
					<div class="spoiler__content">
						The highest level of security at Weld Money is achieved by
						implementing several state-of-the-art measures. This includes
						2-factor authentication, the use of the HTTP TLS 1.2+ protocol
						for maximum protection of data transmission over the Internet,
						and, of course, constant Penetration tests from our partners.
						In addition, we use state-of-the-art key encryption
						algorithms, cryptography, Disaster Recovery Flow, and
						regularly undergo security audits by industry leaders Hacken,
						Certik, and Blaze.
						In addition, we use state-of-the-art key encryption
						algorithms, cryptography, Disaster Recovery Flow, and
						regularly undergo security audits by industry leaders Hacken,
						Certik, and Blaze.
					</div>
				</div>
				<div class="spoiler" data-status="closed">
					<div class="spoiler__head sticky-cursor sticky-dot">
						Is there key encryption?
					</div>
					<div class="spoiler__content">
						The highest level of security at Weld Money is achieved by
						implementing several state-of-the-art measures. This includes
						2-factor authentication, the use of the HTTP TLS 1.2+ protocol
						for maximum protection of data transmission over the Internet,
						and, of course, constant Penetration tests from our partners.
						In addition, we use state-of-the-art key encryption
						algorithms, cryptography, Disaster Recovery Flow, and
						regularly undergo security audits by industry leaders Hacken,
						Certik, and Blaze.
						In addition, we use state-of-the-art key encryption
						algorithms, cryptography, Disaster Recovery Flow, and
						regularly undergo security audits by industry leaders Hacken,
						Certik, and Blaze.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
