<section class="feature animated preload">
	<div class="container">
		<div class="feature__wrap">
			<h2>Dollet Features</h2>
			<div class="feature__tabs">
				<div class="feature__tabs-menu">
							<span class="feature__tabs-menu_item active sticky-cursor"
							      data-index="1">Bridge</span>
					<span class="feature__tabs-menu_item sticky-cursor"
					      data-index="2">Swap</span>
					<span class="feature__tabs-menu_item sticky-cursor"
					      data-index="3">DeFi</span>
					<span class="glider"></span>
				</div>
				<div class="feature__tabs-content">
					<div class="feature-content-image">
						<div class="feature-icon active" data-index="1">
							<img src="img/icon/icon-bridge.svg"
							     alt="">
						</div>
						<div class="feature-icon" data-index="2">
							<img src="img/icon/icon-swap.svg" alt="">
						</div>
						<div class="feature-icon" data-index="3">
							<img src="img/icon/icon-defi.svg" alt="">
						</div>
					</div>

					<div class="feature-content-slider">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="swiper-slide_title">
									<h3>Bridge</h3>
								</div>
								<div class="swiper-slide_text">
									<p>Using my functional, you have complete
										control
										over your crypto assets, as no access is
										granted without your permission. I’m
										supporting
										popular cryptocurrencies and blockchains
										which
										you like, such as Bitcoin.</p>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="swiper-slide_title">
									<h3>Swap</h3>
								</div>
								<div class="swiper-slide_text">
									<p>Using my functional, you have complete
										control
										over your crypto assets, as no access is
										granted without your permission. I’m
										supporting
										popular cryptocurrencies and blockchains
										which
										you like, such as Bitcoin.</p>

								</div>
							</div>
							<div class="swiper-slide">
								<div class="swiper-slide_title">
									<h3>DeFi</h3>
								</div>
								<div class="swiper-slide_text">
									<p>Using my functional, you have complete
										control
									</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
