<section class="info">
	<div class="container">
		<h2>What benefits <br>
			will you get?</h2>
		<div class="info__wrap">
			<div class="info__block">
				<div class="info__block--icon">
					<img src="./img/icon/icon__smile.svg" alt="">
				</div>
				<div class="info__block--title">
					Benefit 1
				</div>
				<div class="info__block--text">
					Using my functional, you have complete control over your crypto
					assets, as no access is
				</div>
			</div>
			<div class="info__block">
				<div class="info__block--icon">
					<img src="./img/icon/icon__smile.svg" alt="">
				</div>
				<div class="info__block--title">
					Benefit 1
				</div>
				<div class="info__block--text">
					Using my functional, you have complete control over your crypto
					assets, as no access is. Using my functional, you have complete
					control.
				</div>
			</div>
			<div class="info__block">
				<div class="info__block--icon">
					<img src="./img/icon/icon__smile.svg" alt="">
				</div>
				<div class="info__block--title">
					Benefit 1
				</div>
				<div class="info__block--text">
					Using my functional, you have complete control over your crypto
					assets, as no access is
				</div>
			</div>
			<div class="info__block">
				<div class="info__block--icon">
					<img src="./img/icon/icon__smile.svg" alt="">
				</div>
				<div class="info__block--title">
					Benefit 1
				</div>
				<div class="info__block--text">
					Using my functional, you have complete control over your crypto
					assets, as no access is
				</div>
			</div>
			<div class="info__block">
				<div class="info__block--icon">
					<img src="./img/icon/icon__smile.svg" alt="">
				</div>
				<div class="info__block--title">
					Benefit 1
				</div>
				<div class="info__block--text">
					Using my functional, you have complete control over your crypto
					assets, as no access is
				</div>
			</div>
			<div class="info__block">
				<div class="info__block--icon">
					<img src="./img/icon/icon__smile.svg" alt="">
				</div>
				<div class="info__block--title">
					Benefit 1
				</div>
				<div class="info__block--text">
					Using my functional, you have complete control over your crypto
					assets, as no access is
				</div>
			</div>
		</div>

		<div class="show-more-info button button-simple" data-text="Show more"></div>
	</div>
</section>
