<section class="networks">
	<div class="container">
		<h2>Supported <br> Networks</h2>
	</div>

	<div class="swiper networks-slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="slide-title">
					Binance Smart Chain
				</div>
				<div class="slide-image">
					<img src="img/networks/icon=clear-arbitrum.svg"
					     alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slide-title">
					Binance Smart Chain
				</div>
				<div class="slide-image">
					<img src="img/networks/icon=clear-bsc.svg" alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slide-title">
					Binance Smart Chain
				</div>
				<div class="slide-image">
					<img src="img/networks/icon=clear-btc.svg" alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slide-title">
					Binance Smart Chain
				</div>
				<div class="slide-image">
					<img src="img/networks/icon=clear-ethereum.svg"
					     alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slide-title">
					Binance Smart Chain
				</div>
				<div class="slide-image">
					<img src="img/networks/icon=clear-optimism.svg"
					     alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slide-title">
					Binance Smart Chain
				</div>
				<div class="slide-image">
					<img src="img/networks/icon=clear-polygon-matic.svg"
					     alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slide-title">
					Binance Smart Chain
				</div>
				<div class="slide-image">
					<img src="img/networks/icon=clear-solana.svg" alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slide-title">
					Binance Smart Chain
				</div>
				<div class="slide-image">
					<img src="img/networks/icon=clear-tron.svg" alt="">
				</div>
			</div>
			<!--					clone-->
			<div class="swiper-slide">
				<div class="slide-title">
					Binance Smart Chain
				</div>
				<div class="slide-image">
					<img src="img/networks/icon=clear-arbitrum.svg"
					     alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slide-title">
					Binance Smart Chain
				</div>
				<div class="slide-image">
					<img src="img/networks/icon=clear-bsc.svg" alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slide-title">
					Binance Smart Chain
				</div>
				<div class="slide-image">
					<img src="img/networks/icon=clear-btc.svg" alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slide-title">
					Binance Smart Chain
				</div>
				<div class="slide-image">
					<img src="img/networks/icon=clear-ethereum.svg"
					     alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slide-title">
					Binance Smart Chain
				</div>
				<div class="slide-image">
					<img src="img/networks/icon=clear-optimism.svg"
					     alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slide-title">
					Binance Smart Chain
				</div>
				<div class="slide-image">
					<img src="img/networks/icon=clear-polygon-matic.svg"
					     alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slide-title">
					Binance Smart Chain
				</div>
				<div class="slide-image">
					<img src="img/networks/icon=clear-solana.svg" alt="">
				</div>
			</div>
			<div class="swiper-slide ">
				<div class="slide-title">
					Binance Smart Chain
				</div>
				<div class="slide-image">
					<img src="img/networks/icon=clear-tron.svg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
