<section class="participate crypto-bloom">
  <div class="container">
    <div class="participate__wrap">
      <h2>How to participate</h2>

      <div class="participate-slider animated">
        <div class="swiper-wrapper">
          <div class="swiper-slide participate-slide">
            <div class="participate-slide__content">
              <div class="slide-numb">
                1
              </div>
              <div class="slide-title">
                Grow
              </div>
              <div class="slide-text">
                Seed the Garden. Earn precious SEEDS by completing the first set of social
                activities.
              </div>
            </div>
            <div class="participate-slide__icon">
              <div class="participate-slide__icon-wrap">
                <img src="../../img/icon/icon-bloom-1.png" alt="participate icon">
              </div>
            </div>
          </div>

          <div class="swiper-slide participate-slide">
            <div class="participate-slide__content">
              <div class="slide-numb">
                2
              </div>
              <div class="slide-title">
                Combat
              </div>
              <div class="slide-text">
                Don’t let anyone ruin your Crypto Garden! Combat the invaders, by spreading some
                words about Dollet — give likes, retweets, and comments.
              </div>
            </div>
            <div class="participate-slide__icon">
              <div class="participate-slide__icon-wrap">
                <img src="../../img/icon/icon-bloom-2.png" alt="participate icon">
              </div>
            </div>
          </div>

          <div class="swiper-slide participate-slide">
            <div class="participate-slide__content">
              <div class="slide-numb">
                3
              </div>
              <div class="slide-title">
                Build
              </div>
              <div class="slide-text">
                Protect your future prosperity by building the fence! Just download the app and take
                minimum actions required.
              </div>
            </div>
            <div class="participate-slide__icon">
              <div class="participate-slide__icon-wrap">
                <img src="../../img/icon/icon-bloom-3.png" alt="participate icon">
              </div>
            </div>
          </div>

          <div class="swiper-slide participate-slide">
            <div class="participate-slide__content">
              <div class="slide-numb">
                4
              </div>
              <div class="slide-title">
                Bloom!
              </div>
              <div class="slide-text">
                Seed your future together with the community. Refer your friends and prosper with
                Dollet together!
              </div>
            </div>
            <div class="participate-slide__icon">
              <div class="participate-slide__icon-wrap">
                <img src="../../img/icon/icon-bloom-4.png" alt="participate icon">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>