<section class="participate">
  <div class="container">
    <div class="participate__wrap">
      <h2>How to participate</h2>

      <div class="participate-slider animated">
        <div class="swiper-wrapper">
          <div class="swiper-slide participate-slide">
            <div class="participate-slide__content">
              <div class="slide-numb">
                1
              </div>
              <div class="slide-title">
                Start small
              </div>
              <div class="slide-text">
                Earn your first seeds.
                Partake in simple social activities.
              </div>
            </div>
            <div class="participate-slide__icon">
              <div class="participate-slide__icon-wrap">
                <img src="../../img/icon/participate-icon-1.png" alt="participate icon">
              </div>
            </div>
          </div>

          <div class="swiper-slide participate-slide">
            <div class="participate-slide__content">
              <div class="slide-numb">
                2
              </div>
              <div class="slide-title">
                Spread the knowledge
              </div>
              <div class="slide-text">
                Share the words about Dollet by engaging in a simple set of activities – give likes,
                retweets, and comments.
              </div>
            </div>
            <div class="participate-slide__icon">
              <div class="participate-slide__icon-wrap">
                <img src="../../img/icon/participate-icon-2.png" alt="participate icon">
              </div>
            </div>
          </div>

          <div class="swiper-slide participate-slide">
            <div class="participate-slide__content">
              <div class="slide-numb">
                3
              </div>
              <div class="slide-title">
                Strengthen the trunk
              </div>
              <div class="slide-text">
                Master power-user features of the Dollet app and start growing your financial
                blossom!
              </div>
            </div>
            <div class="participate-slide__icon">
              <div class="participate-slide__icon-wrap">
                <img src="../../img/icon/participate-icon-3.png" alt="participate icon">
              </div>
            </div>
          </div>

          <div class="swiper-slide participate-slide">
            <div class="participate-slide__content">
              <div class="slide-numb">
                4
              </div>
              <div class="slide-title">
                Scatter the Seeds
              </div>
              <div class="slide-text">
                Earn your first seeds.
                Refer Dollet to your fellow inhabitants of the crypto jungles, and give the app an
                upvote on the App Store & Play Market.
              </div>
            </div>
            <div class="participate-slide__icon">
              <div class="participate-slide__icon-wrap">
                <img src="../../img/icon/participate-icon-4.png" alt="participate icon">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>