<section class="partners">
  <div class="container">
    <h2>We cooperate with</h2>
  </div>
  <div class="partners-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="../../img/partners/logo__1inch.svg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../../img/partners/logo__8f.svg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../../img/partners/logo__artilab.svg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../../img/partners/logo__certik.svg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../../img/partners/logo__deussec.svg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../../img/partners/logo__earnpark.svg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../../img/partners/logo__ideasoft.svg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../../img/partners/logo__kaizenfinance.svg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../../img/partners/logo__1inch.svg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../../img/partners/logo__n1.svg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../../img/partners/logo__starkgate.svg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../../img/partners/logo__wert.svg" alt="">
      </div>
    </div>
  </div>
</section>