<section class="quest crypto-bloom animated">
  <div class="container">
    <div class="quest__wrap">
      <h2>Quest Overview<br>
        Enjoy Crypto Bloom!</h2>

      <div class="quest-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide quest-slide">
            <div class="quest-slide_icon">
              <img src="../../img/crypto-quest-1.png" alt="quest illustration image">
            </div>
            <div class="quest-slide_title">
              Seed the Garden!
            </div>
            <div class="quest-slide_text">
              Complete a simple set of activities to seed the crypto garden!
            </div>
          </div>
          <div class="swiper-slide quest-slide">
            <div class="quest-slide_icon">
              <img src="../../img/crypto-quest-2.png" alt="quest illustration image">
            </div>
            <div class="quest-slide_title">
              Combat the Invaders!
            </div>
            <div class="quest-slide_text">
              Build the fence! Don’t let envy ruin your garden!
            </div>
          </div>
          <div class="swiper-slide quest-slide">
            <div class="quest-slide_icon">
              <img src="../../img/crypto-quest-3.png" alt="quest illustration image">
            </div>
            <div class="quest-slide_title">
              Grow together!
            </div>
            <div class="quest-slide_text">
              Keep building together with the top-growing community.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>