<section class="quest animated">
  <div class="container">
    <div class="quest__wrap">
      <h2>Quest overview <br>
        Grow your money tree!</h2>

      <div class="quest-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide quest-slide">
            <div class="quest-slide_icon">
              <img src="../../img/illustratration-1.png" alt="quest illustration image">
            </div>
            <div class="quest-slide_title">
              Get the seed
            </div>
            <div class="quest-slide_text">
              Complete the first stage of activities.
            </div>
          </div>
          <div class="swiper-slide quest-slide">
            <div class="quest-slide_icon">
              <img src="../../img/illustratration-2.png" alt="quest illustration image">
            </div>
            <div class="quest-slide_title">
              Grow your tree
            </div>
            <div class="quest-slide_text">
              Grow your tree with each completed set of activities.
            </div>
          </div>
          <div class="swiper-slide quest-slide">
            <div class="quest-slide_icon">
              <img src="../../img/illustratration-3.png" alt="quest illustration image">
            </div>
            <div class="quest-slide_title">
              Collect more seeds
            </div>
            <div class="quest-slide_text">
              Collect more seeds, and watch your tree bloom and fruit!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>