<section class="ref-banner crypto-bloom animated preload">

  <div class="ref-banner__image">
    <img src="../../img/crypto-bloom-bg.jpg" alt="">
  </div>

  <div class="container">
    <div class="ref-banner__wrap">
      <h1>Seed the Future</h1>
      <h2>Chapter 2. Crypto Bloom </h2>

      <p>Enjoy the Crypto Bloom.</p>
      <p>Don’t let anyone ruin your crypto blossom!</p>
      <p>Combat the invaders, build the fence, and grow together with your friends! Loot the Seeds!</p>

      <div class="ref-banner__buttons">
        <button type="button" class="button button-green sticky-cursor">
          <span>Start Looting</span>
        </button>
      </div>
    </div>
  </div>
</section>