<section class="ref-banner animated preload">

  <div class="ref-banner__image">
    <img src="../../img/ref-banner.svg" alt="">
  </div>

  <div class="container">
    <div class="ref-banner__wrap">
      <h1>Seed the Future</h1>
      <h2>Chapter 1. Crypto Garden </h2>

      <p>Everything starts with a seed. Grow your financial tree.
          Make it blossom and bring you the best fruits!</p>
      <p>Earn points, collect the seeds, and win precious prizes!</p>
      <p>Seed the future with Dollet — your trusted guide to crypto.</p>

      <div class="ref-banner__buttons">
        <button type="button" class="button button-green sticky-cursor">
          <span>Start Earning</span>
        </button> 
      </div>
    </div>
  </div>
</section>