<section class="reward">
  <div class="container">
    <div class="reward__wrap">
      <div class="reward__head">
        <h2>Reward system</h2>
        <p>Earn up to <span>400 USDT</span> per user! </p>
        <p>Get Seed NFT which makes you eligible for the $Great things from Dollet.</p>
        <p>Random USDT raffles between each level!</p>
      </div>
      <div class="reward__content animated">
        <div class="reward-block gold">
          <div class="reward-block_icon">
            <img src="../../img/icon/icon__gold-seed.png" alt="reward icon">
          </div>
          <div class="reward-block_title">
            Gold Seed NFT
          </div>
          <div class="reward-block_info">
            More than 2500 points (seeds)
          </div>
        </div>

        <div class="reward-block silver">
          <div class="reward-block_icon">
            <img src="../../img/icon/icon__silver-seed.png" alt="reward icon">
          </div>
          <div class="reward-block_title">
            Silver Seed NFT
          </div>
          <div class="reward-block_info">
            More than 1000 points (seeds)
          </div>
        </div>

        <div class="reward-block bronze">
          <div class="reward-block_icon">
            <img src="../../img/icon/icon__bronze-seed.png" alt="reward icon">
          </div>
          <div class="reward-block_title">
            Bronze Seed NFT
          </div>
          <div class="reward-block_info">
            More than 200 points (seeds)
          </div>
        </div>

        <div class="reward-block grey">
          <div class="reward-block_icon">
            <img src="../../img/icon/icon__grey-seed.png" alt="reward icon">
          </div>
          <div class="reward-block_title">
            Iron Seed NFT
          </div>
          <div class="reward-block_info">
            Less than 200 points (seeds)
          </div>
        </div>
      </div>

    </div>
  </div>
</section>