<section class="started">
  <div class="container">
    <div class="started__wrap">
      <div class="started__img">
        <img src="./img/pic__li-vlad.png" alt="doll wallet">
      </div>

      <div class="started__content">
        <h2>How it Started</h2>
        <div class="started__content-text">
          <p>
            Right here, a mutual acquaintance of L. & V. discussed the idea of creating a wallet
            with Vlad. After the summit, he introduced the future co-founders to each other.
          </p>
          <p>
            An afterparty conversation sparked the idea of Dollet, a multi-chain non-custodial
            wallet with integrated DeFi.
          </p>
          <p>
            A perceptive party-goer, also top manager of a VC Fund with Numerous Projects to
            approached the Owner of the VC Fund to an investor, overheard their discussion about
            creating a wallet for a healthy lifestyle with integrated DeFi, marking the inception of
            a transformative idea.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>