<section class="strategy">
	<div class="container">
		<div class="strategy__head">
			<div class="strategy__head_title">
				<div class="strategy-icons">
					<img src="./img/icon/tokens__icon-1.svg" alt="">
					<img src="./img/icon/tokens__icon-2.svg" alt="">
					<img src="./img/icon/tokens__icon-1.svg" alt="">
					<img src="./img/icon/tokens__icon-2.svg" alt="">
					<img src="./img/icon/tokens__icon-1.svg" alt="">
					<img src="./img/icon/tokens__icon-2.svg" alt="">
				</div>
				<h1>USDC — WBTC — ETH — WETH — WETH </h1>
			</div>

			<div class="strategy__head_info">
				The strategies on the website are for informational purposes. To
				invest, please <span class="btn-modal sticky-cursor" data-target="modal-download">
				download</span>
				our application
			</div>
		</div>

		<div class="strategy__info">
			<div class="strategy__info-block">
				<div class="info-caption">
					Network
					<a href="./faq.html" class="info-link sticky-cursor sticky-dot"></a>
				</div>
				<div class="info-text">
					<img src="./img/icon/tokens__icon-1.svg" alt="">
					Binance Smart Chain
				</div>
			</div>

			<div class="strategy__info-block">
				<div class="info-caption">
					APY (per year)
					<a href="./faq.html" class="info-link sticky-cursor sticky-dot"></a>
				</div>
				<div class="info-text">
					3.5%
				</div>
			</div>

			<div class="strategy__info-block">
				<div class="info-caption">
					TVL
					<a href="./faq.html" class="info-link sticky-cursor sticky-dot"></a>
				</div>
				<div class="info-text">
					$ 54,633.65
				</div>
			</div>
		</div>

		<div class="strategy__description">

			<div class="strategy__description-caption">
				Strategy description
			</div>

			<ul>
				<li>The “USDC.e—USDT” strategy allows users to deposit their USDT or
					USDC.e in an Arbitrum strategy vault
				</li>
				<li>Once USDT or USDC.e token is provided by a user it is
					immediately sent to the strategy and a strategy position is
					created for that user
				</li>
				<li>The strategy provides this USDT or USDC.e as liquidity to the
					Curve pool and obtains USDC.e/USDT LP token in return
				</li>
				<li>The strategy provides this USDT or USDC.e as liquidity to the
					Curve pool and obtains USDC.e/USDT LP token in return
				</li>
				<li>The strategy provides this USDT or USDC.e as liquidity to the
					Curve pool and obtains USDC.e/USDT LP token in return
				</li>
			</ul>

			<a class="button button-simple with-arrow sticky-cursor"
			   href="../defi.html">
				<span>See another strategies</span>
				<svg xmlns="http://www.w3.org/2000/svg"
				     xmlns:xlink="http://www.w3.org/1999/xlink"
				     class="icon">
					<use xlink:href="./img/_set.svg#icon-arrow"></use>
				</svg>
			</a>
		</div>
	</div>
</section>
