<section class="team">
  <div class="container">
    <div class="team__wrap">
      <h2>Discover the faces <br> behind Dollet!</h2>

      <div class="team-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-slide_image">
              <img src="../../img/team/Lily%20Rovdych.png" alt="">
            </div>
            <div class="swiper-slide_info">
              <div class="info-title">
                Lily Rovdych
              </div>
              <div class="info-text">
                Co-founder & CMO
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-slide_image">
              <img src="../../img/team/Vladyslav%20Kurinnyi.png" alt="">
            </div>
            <div class="swiper-slide_info">
              <div class="info-title">
                Vladyslav Kurinnyi
              </div>
              <div class="info-text">
                Co-founder & CMO
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-slide_image">
              <img src="../../img/team/Mariia%20Hryhorova.png" alt="">
            </div>
            <div class="swiper-slide_info">
              <div class="info-title">
                Mariia Hryhorova
              </div>
              <div class="info-text">
                Product Owner
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-slide_image">
              <img src="../../img/team/Anatolii%20Shehrin.png" alt="">
            </div>
            <div class="swiper-slide_info">
              <div class="info-title">
                Anatolii Shehrin
              </div>
              <div class="info-text">
                Product & Blockchain Manager
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-slide_image">
              <img src="../../img/team/Denys%20Lipovka.png" alt="">
            </div>
            <div class="swiper-slide_info">
              <div class="info-title">
                Denys Lipovka
              </div>
              <div class="info-text">
                DeFi Manager: Analysis & Strategies
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-slide_image">
              <img src="../../img/team/Dmytro%20Kondratiuk.png" alt="">
            </div>
            <div class="swiper-slide_info">
              <div class="info-title">
                Dmytro Kondratiuk
              </div>
              <div class="info-text">
                DeFi Manager: Operations & Analysis
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-slide_image">
              <img src="../../img/team/Anastasiia%20Provalova.png" alt="">
            </div>
            <div class="swiper-slide_info">
              <div class="info-title">
                Anastasiia Provalova
              </div>
              <div class="info-text">
                Art Director
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-slide_image">
              <img src="../../img/team/Daryna%20Fizyk.png" alt="">
            </div>
            <div class="swiper-slide_info">
              <div class="info-title">
                Daryna Fizyk
              </div>
              <div class="info-text">
                Content Specialist
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-slide_image">
              <img src="../../img/team/Kateryna%20Frosiniak.png" alt="">
            </div>
            <div class="swiper-slide_info">
              <div class="info-title">
                Kateryna Frosiniak
              </div>
              <div class="info-text">
                Support Manager
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-slide_image">
              <img src="../../img/team/Vladyslav%20Danyleiko.png" alt="">
            </div>
            <div class="swiper-slide_info">
              <div class="info-title">
                Vladyslav Danyleiko
              </div>
              <div class="info-text">
                LO
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-slide_image">
              <img src="../../img/team/Oleh%20Kolomiiets.png" alt="">
            </div>
            <div class="swiper-slide_info">
              <div class="info-title">
                Oleh Kolomiiets
              </div>
              <div class="info-text">
                FM + CAO
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next sticky-cursor team-next"></div>
        <div class="swiper-button-prev sticky-cursor team-prev"></div>

      </div>
    </div>
  </div>
</section>