<section class="wallet">
	<div class="wallet__inner">
		<h2>Wallet Features</h2>

		<div class="wallet__wrap">
			<div class="wallet__block">
				<div class="wallet__block-image">
					<div class="wallet__block-image_fon">
						<img src="./img/icon/bridge-big.svg" alt="">
					</div>
					<div class="wallet__block-image_concept">
						<img src="./img/pic-phone.png" alt="">
					</div>
				</div>

				<div class="wallet__block-content">
					<div class="block-icon">
						<img src="./img/icon/icon-bridge.svg" alt="">
					</div>
					<h3 class="block-title">
						Bridge
					</h3>
					<div class="block-text">
						Using my functional, you have complete control over your
						crypto assets, as no access is granted without your
						permission. I’m supporting popular cryptocurrencies and
						blockchain
					</div>
				</div>
			</div>

			<div class="wallet__block">
				<div class="wallet__block-image">
					<div class="wallet__block-image_fon">
						<img src="./img/icon/swap-big.svg" alt="">
					</div>
					<div class="wallet__block-image_concept">
						<img src="./img/pic-phone.png" alt="">
					</div>
				</div>

				<div class="wallet__block-content">
					<div class="block-icon">
						<img src="./img/icon/icon-swap.svg" alt="">
					</div>
					<h3 class="block-title">
						Swap
					</h3>
					<div class="block-text">
						Using my functional, you have complete control over your
						crypto assets, as no access is granted without your
						permission.
					</div>
				</div>
			</div>

			<div class="wallet__block">
				<div class="wallet__block-image">
					<div class="wallet__block-image_fon">
						<img src="./img/icon/defi-big.svg" alt="">
					</div>
					<div class="wallet__block-image_concept">
						<img src="./img/pic-phone.png" alt="">
					</div>
				</div>

				<div class="wallet__block-content">
					<div class="block-icon">
						<img src="./img/icon/icon-defi.svg" alt="">
					</div>
					<h3 class="block-title">
						DeFi
					</h3>
					<div class="block-text">
						Using my functional, you have complete control over your
						crypto assets, as no access is granted without your
						permission. I’m supporting popular cryptocurrencies and
						blockchain
					</div>

					<a class="button button-simple with-arrow sticky-cursor"
					   href="../defi.html">
						<span>See Strategies</span>
						<svg xmlns="http://www.w3.org/2000/svg"
						     xmlns:xlink="http://www.w3.org/1999/xlink"
						     class="icon">
							<use xlink:href="./img/_set.svg#icon-arrow"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
