.block-404 {
  width: 100%;
  height: calc(100vh - 88px);
  min-height: 700px;
  display: flex;
  align-items: center;
  @media (max-width: $ipad) {
    min-height: 700px;
  }
  @media (max-width: $tablet) {
    min-height: 460px;
  }

  &__wrap  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 24px;
    text-align: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: calc(50% - 444px);
      width: 800px;
      height: 800px;
      background-image: url("./../img/icon/circle_blur.svg");
      background-size: cover;
      @media (max-width: $tablet) {
        width: 600px;
        height: 600px;
        top: calc(50% - 340px);
      }
    }
  }

  &__code {
    width: 700px;
    height: 345px;
    margin: 0 auto;
    position: relative;
    @media (max-width: $ipad) {
      width: 668px;
      height: 330px;
    }
    @media (max-width: $tablet) {
      width: 340px;
      height: 170px;
    }
    @media (max-width: $phone) {
      width: 311px;
      height: 153px;
    }

    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      &.lottie-2 {
        opacity: 0;
      }
    }
  }

  &__text {
    font-size: 24px;
    @include f-w();
    @include l-h(140%);
    color: $color-white;
    @media (max-width: $phone-wide) {
      font-size: 20px;
    }
    @media (max-width: $phone) {
      font-size: 16px;
    }
  }

  &__button {
    .button {
      padding: 20px 40px;

      span {
        @media (max-width: $phone-wide) {
          font-size: 18px;
        }
        @media (max-width: $phone) {
          font-size: 16px;
        }
      }
    }
  }
}